<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<!-- replace head with head from fragments-->
<head th:replace="fragments:: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <!-- replace the navigation through templates-->

    <nav th:replace="fragments :: navigation"></nav>
    <!-- if the array list cheese is empty and doesn't exist display this message -->
    <p th:unless="${cheeses} and ${cheeses.size()}">no cheeses :(</p>
    <ul th:each="cheese : ${cheeses}" >
        <!-- Add thymeleaf element into what we want to repeat
         loop through the objects in the controller and then we specify cheeses as the value  -->
       <li th:text="${cheese.key}"></li>
        <p th:text="${cheese.value}"></p>
    </ul>
</body>
</html>